<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

# New section

In [3]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [24]:
 Customer Gender Distribution by Store (1.1.1) - Problem
1️⃣ Basic Aggregation
Problem Statement
Calculate the total number of unique male and female customers who made purchases in each store in 2023. This will help in understanding the gender distribution of customers across different stores.

Use COUNT with CASE WHEN to count male and female customers separately.
Group the results by storecode and order them by storecode.
Hint
Join the sales, store, and customer tables on storekey and customerkey.
Filter the data for the year 2023 using the WHERE clause

%%sql
SELECT
    st.storecode,
    COUNT(DISTINCT CASE WHEN c.gender = 'male' THEN s.customerkey END) AS customers_male,
    COUNT(DISTINCT CASE WHEN c.gender = 'female' THEN s.customerkey END) AS customers_female
FROM
    sales s
    LEFT JOIN store st ON s.storekey = st.storekey
    LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
    s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
    st.storecode
ORDER BY
    st.storecode;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

58 rows affected.

    storecode  customers_male  customers_female
0          -1            4318              4469
1           1              27                28
2           3              45                45
3           4              39                31
4           5              64                58
5           6              37                46
6           7             101                92
7           8              92                83
8           9              65                86
9          10              74                86
10         12              14                24
11         13              11                16
12         14              23                21
13         15              12                13
14         16              16                12
15         17              18                 8
16         18              18                19
17         19              44                50
18         21              46                38
19         22              47                72
20         23              45                49
21         24              43                55
22         25              40                44
23         26              44                45
24         27              39                46
25         29              36                29
26         30              40                27
27         31              50                37
28         32              48                37
29         33              45                38
30         34              48                44
31         36              33                36
32         37              45                26
33         38              39                61
34         39              46                31
35         40              60                42
36         42              36                48
37         43              59                72
38         44              74                77
39         45              72                85
40         47              46                54
41         48              74                77
42         49              70                79
43         50              82                82
44         51              73                81
45         53              63                69
46         54              85                61
47         55              81                70
48         56              74                57
49         57              65                59
50         58              72                42
51         59              83                71
52         60              70                70
53         61              73                73
54         62              73                67
55         65              89                54
56         66              66                48
57         67              70                72

In [41]:
Revenue by Product Color and Age (1.1.2) - Problem
1️⃣ Basic Aggregation
Problem Statement
Calculate the total net revenue generated by each product color for different customer age groups in 2023. This will help in understanding the revenue contribution of each product color across various age demographics.

Use SUM with CASE WHEN to calculate the revenue for each age group.
Define age groups as: 18 - 25, 26 - 35, 36-45, >45.
Hint
Join the sales, product, and customer tables.
Filter the data for the year 2023 using the WHERE clause

%%sql
SELECT p.color,
SUM(CASE WHEN c.age BETWEEN 18 AND 25 THEN  s.quantity * s.netprice * s.exchangerate ELSE 0 END ) AS customer_net_revenue_18_25,
SUM(CASE WHEN c.age BETWEEN 26 AND 35 THEN s.quantity * s.netprice * s.exchangerate  ELSE 0 END) AS customer_net_revenue_26_35,
SUM(CASE WHEN c.age BETWEEN 36 AND 45 THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END ) AS customer_net_revenue_36_45,
SUM(CASE WHEN c.age >45 THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END ) AS customer_net_revenue_over_46
FROM sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey=p.productkey
WHERE s.orderdate BETWEEN '2023-02-02' AND '2023-12-31'
GROUP BY p.color
ORDER BY p.color;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

17 rows affected.

,color,customer_net_revenue_18_25,customer_net_revenue_26_35,customer_net_revenue_36_45,customer_net_revenue_over_46
0,Azure,3090.69,1274.01,3688.31,16292.08
1,Black,835027.65,1097423.29,1201622.01,4783695.95
2,blue,1787.89,95.76,66.69,1719.81
3,Blue,91734.00,180161.78,264649.79,936201.46
4,Brown,163524.35,287709.44,234510.79,1098837.22
5,Gold,92688.80,149941.16,175059.10,650837.55
6,Green,69087.17,171133.79,91928.92,409239.08
7,Grey,216481.74,294758.26,323647.53,1317329.62
8,Orange,24907.83,24430.77,19997.55,217016.49
9,Pink,52416.20,91823.43,97372.77,362625.44
10,Purple,1751.31,2165.72,3233.73,9216.06
11,Red,106737.09,123639.12,157544.37,570318.84
12,Silver,587364.87,860895.16,846780.61,3325450.74
13,Silver Grey,13080.09,16630.40,9827.17,78768.85
14,Transparent,64.89,22.06,52.96,171.80
15,White,666150.50,865092.38,1022013.78,3849394.56
16,Yellow,13920.75,14655.99,16418.54,92279.92

In [58]:
Product Orders by Price Range and Color (1.1.3) - Problem
1️⃣ Basic Aggregation
Problem Statement
Analyze the number of orders for products based on their price range and subcategoryname in 2023. This will help in understanding the demand for products of different price ranges and sub-categories.

Use COUNT with CASE WHEN to count orders for different price ranges.
Define price ranges as: less than $1000, between $1000 and $2000, and greater than $2000.
Group by subcategoryname and order the results by subcategoryname from the product table.
Hint
Join the sales and product tables to get the relevant columns.
Filter the data for the year 2023 using the WHERE clause.
%%sql
SELECT p.subcategoryname,
COUNT(CASE WHEN p.price <1000 THEN s.orderkey END) AS order_less_1000,
COUNT(CASE WHEN p.price BETWEEN 1000 AND 2000 THEN s.orderkey END) AS order_1000_2000,
COUNT(CASE WHEN p.price>2000 THEN s.orderkey END) AS order_greater_2000
FROM sales s
LEFT JOIN product p ON s.productkey = p.productkey
WHERE s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY p.subcategoryname
ORDER BY p.subcategoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

32 rows affected.

,subcategoryname,order_less_1000,order_1000_2000,order_greater_2000
0,Air Conditioners,359,0,0
1,Bluetooth Headphones,843,0,0
2,Boxed Games,2044,0,0
3,Camcorders,250,77,0
4,Cameras & Camcorders Accessories,361,0,0
5,Car Video,549,0,0
6,Cell phones Accessories,1591,0,0
7,Coffee Machines,281,41,0
8,Computers Accessories,1265,0,0
9,Desktops,2613,0,0
10,Digital Cameras,349,0,0
11,Digital SLR Cameras,601,0,0
12,Download Games,1301,0,0
13,Fans,230,0,0
14,Home & Office Phones,1448,0,0
15,Home Theater System,344,4,0
16,Lamps,231,0,0
17,Laptops,1059,199,0
18,Microwaves,579,0,0
19,Monitors,1308,0,0
20,Movie DVD,6518,0,0
21,MP4&MP3,344,0,0
22,"Printers, Scanners & Fax",1250,0,0
23,Projectors & Screens,1086,0,235
24,Recording Pen,432,0,0
25,Refrigerators,302,0,51
26,Smart phones & PDAs,3624,0,0
27,Televisions,793,320,105
28,Touch Screen Phones,2967,0,0
29,VCD & DVD,499,0,0
30,Washers & Dryers,50,138,58
31,Water Heaters,646,172,0

In [57]:
Product Orders by Price Range and Color (1.1.3) - Problem
1️⃣ Basic Aggregation
Problem Statement
Analyze the number of orders for products based on their price range and subcategoryname in 2023. This will help in understanding the demand for products of different price ranges and sub-categories.

Use COUNT with CASE WHEN to count orders for different price ranges.
Define price ranges as: less than $1000, between $1000 and $2000, and greater than $2000.
Group by subcategoryname and order the results by subcategoryname from the product table.
Hint
Join the sales and product tables to get the relevant columns.
Filter the data for the year 2023 using the WHERE clause.

%%sql
SELECT st.countryname,
SUM(CASE WHEN st.squaremeters<1000 THEN s.quantity * s.netprice * exchangerate ELSE 0 END) AS revenue_less_1000,
SUM(CASE WHEN st.squaremeters BETWEEN 1000 AND 2000 THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS revenue_1000_2000,
SUM(CASE WHEN st.squaremeters>2000 THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS revenue_2000_over
FROM sales s
LEFT JOIN store st ON s.storekey=st.storekey
WHERE st.countryname !='online' AND
 s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY st.countryname
ORDER BY st.countryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

      countryname  revenue_less_1000  revenue_1000_2000  revenue_2000_over
0       Australia          152603.07          805753.93          332051.57
1          Canada               0.00          810136.00         1098302.94
2          France          387769.84               0.00               0.00
3         Germany          329324.58         1025798.82          192337.50
4           Italy               0.00          205734.46          142339.35
5     Netherlands          157601.88          448792.47               0.00
6          Online               0.00               0.00               0.00
7  United Kingdom               0.00          642214.71          229729.64
8   United States          282562.90         5528952.03          246768.97